@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap'); 

@font-face {
    font-family: Carter_One;
    src: url(../fonts/Carter_One/CarterOne-Regular.ttf);
}
@font-face{
    font-family: Lato-regular;
    src: url(../fonts/Lato/Lato-Regular.ttf);
    font-style: normal;
}
@font-face {
    font-family: Lato-light;
    src: url(../fonts/Lato/Lato-Light.ttf);
}
@font-face {
    font-family: Lato-bold ;
    src: url(../fonts/Lato/Lato-Bold.ttf);
}
@font-face {
    font-family: Lato-black ;
    src: url(../fonts/Lato/Lato-Black.ttf);
}
*, body{
    padding: 0;
    margin: 0;
   font-family: 'Lato-regular','Open Sans', sans-serif;
}
.bg1{
    background-color: #fcfafa;
}
/* body section{
    margin: 50px 0px;
} */
ul li a{
    color: #7F0202;
    font-family: 'Lato-black', 'Open Sans', sans-serif;
}
ul li a:hover{
    color: #7F0202;
}
h1,h2,h3,h4,h5{
    color: #7F0202;
    font-family: 'Lato-black', 'Open Sans', sans-serif;
}
header{
    width: 100%;
    padding: 5px 0;
    border-bottom: 1px solid #7F0202;
    box-shadow: 1px -2px 20px #5d1717;
    position: sticky;
    top: 0;
}
header img{
    margin-left: 30px;
}
header, nav{
    display: inline-block;
    background: #fcfafa;
    z-index: 9;
}
nav ul{
    display: flex;
}
nav ul li{
    list-style-type: none;
    padding: 20px;
    font-size: 20px;
    text-transform: uppercase;
}
nav ul li a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
}
nav ul li a:hover, nav ul .active a{
    font-weight: 600;
    padding-bottom: 4px;
    border-bottom: 2px solid #7F0202;
}
footer{
    border-top: 1px solid #7F0202;
    text-align: center;
    background-color: #fcfafa;
}
footer > section{
    padding: 30px 0px;
}
footer ul li{
    list-style-type: none;
    text-align: left;
}

footer ul li a{
    text-decoration: none;
    font-size: 18px;
}

footer ul li a:hover{
    text-decoration: none;
    font-weight: 600;
    border-bottom: 3px solid #7F0202;
}
footer > p{
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 5px;
    margin: 0px;
    font-family: Lato-light;
}

h2{
    text-align: center;
}
/* .subheading{
    border-bottom: 5px solid;
    border-image: linear-gradient(to left, #7F0202,  #f99e48) 1;
    width: 200px;
    position: relative;
    left: 14em;
} */
.social{
    font-size: 14px;
    display: flex;
}
.social .socialimg{
    position: relative;
    left: 48em;
}
.social .socialimg img{
    width: 2em;
    height: 2em;
    margin: 0 0.5em;
}
.social a, .social .socialimg a:hover{
    text-decoration: none;
    border: none;
}

/* Media quiery for navbar */
.mobmenu{
    display: none;
    float: right;
    margin-top: 20px;
}
@media screen and (max-width: 768px){
    header{
        display: block;
    }
    nav{
        display: none;
    }
    nav ul{
        display: block;
        text-align: center;
    }
    .mobmenu{
        display: inline;
    }
    .social .socialimg{
        position: relative;
        left: 0;
    }
    
}